main {
  flex-grow: 1;
  max-width: 100%;
}

.form-content {
  width: 100%;
  height: auto;
  color: #222;
  padding: 50px;
  width: 100%;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.form {
  background-color: #dcdcdc;
  border: medium solid #808080;
  border-radius: 15px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.form > * {
  font-family: "raleway", sans-serif;
  font-size: 9px;
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 20%;
  height: 30px;
  background-color: #49b0e5;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #555;
}
